* {
    font-family: 'Calibri', sans-serif;
    font-size: 3vh;
    color: #000000
}
html,body {
    padding-top: 1vh;
    background-image: url("resources/21-2.jpg");
    background-size: cover;
	height:100%;
    padding-bottom: 1vh;
}
.container {
    background-color: #f8f8f8;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    border: 4px ridge #381500;
	max-width: 90vw;
    height: fit-content;
}
th {
    cursor: pointer;
    padding: 15px;
    text-align: center;
}
tr {
    height: 30px;
}
td {
    padding: 15px;
    text-align: center;
}
.main,.controls,.start,.counts,.result {
    text-align: center  ;
}
.counts {
    min-width: fit-content; 
    max-width: fit-content !important;
    width: fit-content;
}
.cnt {
    margin-right: 1vh;
}
.cnt-last {
    margin-right: 0;
}
.result span{
    font-size: 4vh;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
    font-weight: bold;
    margin: 0px 0px;
}
button.new_game {
    font-size: 3.5vh;
}
.controls button {
    font-size: 3.5vh;
}
.take_card {
    margin-right:12px;
}
span.win {
    color:green;
}
span.defeat {
    color: #b10000;
}
span.draw {
    color: #b37a00;
}
button.btn {
    box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.7);
    text-shadow: 1px 1px 3px black,2px 2px 3px black,-1px -1px 3px black;
}
img.cards {
    box-shadow: 3px 3px 9px -2px rgba(0,0,0,0.7),5px 5px 9px -2px rgba(0,0,0,0.5);
    margin: 5px 5px;
    height: 18vh;
    text-shadow: none;
    font-weight: bold;
}
.counts span {
    font-size: 2.5vh;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}
.main {
    border: 9px ridge #381500;
    background-image: url("resources/div-bg-1.jpg");
    background-color: #929292;
    background-size: cover;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    width: fit-content;
    max-width: 90vw;
}
.main div{
    color: #fff;
    text-shadow: 1px 1px 3px black,2px 2px 3px black,-1px -1px 3px black;
}
button b.swal {
    color: #fff;
    font-size: 3vh;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}
.controls {
	padding-bottom: 15px;
}
.main-both div.main {
    position: relative;
    flex-wrap: wrap;
}
.container.main-both {
    background-color: transparent;
    box-shadow: none;
    border-radius: none;
    border: none;
    width: fit-content;
	max-width: 90vw;
}